@font-face {
  font-family: 'MusicMasterFont';
  src: url('/PoetsenOne-Regular.ttf') format('truetype');
}

.number-input input {
  width: 60px;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
}

.switch {
  transform: scale(1.5);
}

.switch .MuiSwitch-track {
  background-color: black;
}

.continue-button {
  width: 150px;
  height: 50px;
}
