@font-face {
  font-family: 'MusicMasterFont';
  src: url('/PoetsenOne-Regular.ttf') format('truetype');
}

.number-input input {
  background-color: #ffffff;
  border-radius: 10px;
}

.number-input:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #bb86fc;
}

.number-input .MuiInputBase-input {
  font-size: 1.5rem;
}

.switch {
  transform: scale(1.5);
}

.switch .MuiSwitch-track {
  background-color: black;
}

.continue-button {
  width: 150px;
  height: 50px;
}
