@font-face {
  font-family: 'MusicMasterFont';
  src: url('../../../public/PoetsenOne-Regular.ttf') format('truetype');
}

.Title {
  color: #ffffff;
}

.settings-box {
  background-color: #FFEDFB;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.number-input input {
  width: 60px;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
}

.switch {
  transform: scale(1.5);
}

.switch .MuiSwitch-track {
  background-color: black;
}

.continue-button {
  width: 150px;
  height: 50px;
}
